{%extends 'allphotos/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if categories%}
      <h2>Found {{ categories| length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the category {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if category %}
    {% for category in category %}
      <div class="col-sm-6 col-md-3">
          <h1>{{category.name}}</h1>
    {% for photo in category.photo_sell.all() %}

          <img src ="{{image.image_path.url}}" class="img-fluid" alt="Image">
          <img src ="{{image.description}}" class="img-fluid" alt="Image">

      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}